InterviewQuestionsAPI/appsettings.json
InterviewQuestionsAPI/bin/Debug/net8.0/appsettings.json
InterviewQuestionsAPI/bin/
InterviewQuestionsAPI/.vs/
InterviewQuestionsAPI/obj/

/interview-question-app/.angular/
/interview-question-app/node_modules/
/interview-question-app/.vscode/
/.vscode/
InterviewQuestionsAPI/Properties/PublishProfiles/InterviewQuestionGenerator - Web Deploy.pubxml.user
